:root {
    box-sizing: border-box;
    --transitionLength: 500ms;
}

body {
    background-image: url("https://media1.tenor.com/m/Spmi9HLHEz0AAAAd/despite-all-my-rage.gif");
}

.enemy {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    flex-grow: 1;
    align-content: center;
    max-width: 40%;
    min-width: 20%;
    background-color: whitesmoke;
}

.guesses {
    display: flex;
    flex-direction: column;
}

.guess.empty {
    display: flex;
}
.guess {
    display: flex;
}

.guess * {
    transition: transform var(--transitionLength);
    flex-wrap: wrap;
    display: flex;
    width: 1rem;
    height: 1rem;
    justify-content: center;
    align-content: center;
    border: 1px dotted black;
    color: black;
}

.e {
    background-color: white;
    transform: rotateY(180deg);
}

.revealing {
    transform: rotateY(90deg);
    transition-timing-function: ease-in;
}

.y,
.g,
.m {
    transform: rotateY(0deg);
    transition-timing-function: ease-out;
}

.y {
    background-color: yellow;
}
.g {
    background-color: greenyellow;
}
.m {
    background-color: lightgray;
}
